
div#last-action
{
	margin-bottom:30px;
	width:100%;
	display:block;
}


div#transmit-allcontainer
{
	text-align:center;
	padding:50px 0 0 200px;
}
span#last-actiondate
{
	padding:5px 10px 5px 10px;
	border:solid 1px #e0e0e0;
	margin:0 0 0 20px;
	float:left;
	font-size:16px;
	color:#628b07;
	font-weight:bold;
}

div.response-container
{
	display:block;
	min-height:150px;
	border:dashed 1px #333;
	margin:40px 20px 10px 20px;
	padding:20px;
	text-align:center;	
}